AiLab/
gesture_videos/
Data Collection/gesture_data/
Data/gesture_data/
Data Collection/karate_data/
Data Collection/karate_data2/
Data Collection/karate_data.rar
Data Collection/karate_data2.rar
Glen_KNN_Work/knn_data
Glen_KNN_Work/karate_data


